#container {
    display: flex;
    width: 1030px;
}

#cssmenu ul {
    margin-top: -70px;
    margin-right: 320px;
}

.item img{
    margin-top: -20px;
    height: 400px;
	width: 1500px;
}


footer{
    width: 1030px;
}

footer .row{
    display: flex;
}


